.button {
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 11px;
    gap: 2px;
    height: 24px;
    background: var(--bg-color-in-basket);
    border-radius: 16px;
    color: var(--bg-color-to-basket);
    touch-action: auto;
}

.button:hover {
    background: var(--bg-color-to-basket);
    color: var(--color-to-basket);
}

.buttonInBasket {
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 11px;
    gap: 2px;
    height: 24px;
    background: var(--bg-color-in-basket);
    border-radius: 16px;
    color: var(--color-in-basket);
}