.row {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
}

.li {
  display: flex;
  flex-direction: column;
  padding: 1em;
  color: var(--color-to-basket);
}

.detail_header {
  list-style: none;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
}