@media screen and (orientation: portrait)
/*(min-width: 375px)*/
/*and (max-device-width: 767px)*/
{
   .wrap{
/*flex: 0 1 279px;
 /* max-width: 100%; /* Ограничение максимальной ширины предотвращает выход за рамки */
display: flex;
flex-direction: column;
padding: 0px;
gap: 24px;
  }
  .wrapRow{
    /*margin-left: 24px;
    margin-right: 24px;*/
    flex-basis: 279px;
    display: flex;
flex-direction: column;
gap:25px;
  }
}
@media screen and (orientation: landscape)
{
  .wrap{
display: flex;
flex-direction: column;
padding: 0px;
gap: 24px;
  }
  .wrapRow{
    display: flex;
    flex-direction: column;
    flex: 0 0 402px;
    gap:24px;
  }
}